@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --iwhite: #eaeef0;
    --blue: #868fa3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke: 0.5px black;
}

body{
    background-color: var(--iwhite);
}


/* Header  */


header{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    outline: 1px solid black;
}


/* Main */

main{
    width: 100vw;
    height: 70vh;
    display: grid;
    grid-tenplate-rows: 70vw;
    grid-template-columns: 50vw 50vw;
}

main > p{
    grid-column: 1/2;
    margin: auto;
    font-size: 3px;
    border: 2px solid black;
}

.tagline{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10vw;
}

.nav{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav button{
    width: 20vmax;
    height: 5vmin;
    border-radius: 5px;
    border: 1px solid var(--blue);
    background-color: white;
    margin: 0.8vh;
    cursor: pointer;
}

/* Footer */

.footer{
    width: 100vw;
    height: 15vh;
    background-color: var(--blue);
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: 1px solid black;
}

.footline{
    font-size: 3vmin;
    color: black;
    padding-top: 4vmin;
}

.footicons{
    margin: auto 10px;
} 

.footicons > span{
    margin: 20px 0px;
    padding: 5px;
    resize: 50px;
}

.icon{
    text-decoration: none;
    color: black;
}

#mail{
    text-decoration-color: none;
    color: black;
}

@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5) {
    
    /* Head */
    
    header{
        align-items: center;
        height: 13vh;
    }
    
    /* Home */
    
    main{
        display: grid;
        grid-template-rows: 60% 40%;
        grid-template-columns: 100%;
    }
    
    .tagline{
        grid-row: 1/2;
        grid-column: 1/2;
        font-size: 15px;
        line-height: 1.5;
    }
    
    .nav{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    
    .nav button{
        height: 6vmax;
        width: 40vw;
    }
    
    /* Footer */
    
    .footer{
        height: 10vh;
        margin-top: 2vh;
        outline: 1px solid black;
    }
    
    .footline{
        font-size: 2vh;
        padding-top: 2vh;
    }
    
    .footicons > span{
        font-size: 2.5vh; 
    }    
    
    footer{
        outline: none;
    }
  
}
    